
/* This is a style document for screens larger then 1100px */

@media screen and (min-width: 1100px) {
	body, html {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	body {
		display: flex;
		flex-direction: column;
		font-family: Arial, sans-serif;
		text-align: center;
		background-color: #fff; /* Light mode background color */
		color: #000; /* Light mode text color */
	}
	
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		background-color: #ffcc00; /* Light mode color */
		height: 100px; /* Increased height */
	}
	.logo {
		height: 50px;
	}
	
	nav ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
	
	nav ul li {
		display: inline;
	}
	
	nav ul li a, button, a {
		text-decoration: none; /* Ensures no underline */
		color: black; /* Light mode text color */
		padding: 15px 30px;
		border: none;
		background: none;
		font-size: 18px;
		transition: background-color 0.3s, color 0.3s;
	}
	main {
		flex: 1;
		padding: 20px;
		margin-bottom: 20px; /* Adding space between main and footer */
	}
	
	footer {
		background-color: #ffcc00; /* Light mode color */
		padding: 10px;
		position: fixed;
		width: 100%;
		bottom: 0;
	}
	/* Styles for About Card */
	.about-card {
		display: inline-block;
		background-color: #ffcc00;
		padding: 20px;
		margin: 10px;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		align-self: center; /* Centering cards vertically */
	}

	/* Styles for Cards */
	.card, .plugin-card {
		display: inline-block;
		background-color: #ffcc00;
		width: 300px; /* Fixed width */
		height: 200px; /* Fixed height */
		padding: 20px;
		margin: 10px;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		align-self: center; /* Centering cards vertically */
	}

	/* Specific styles for Technical Info page */
	.plugin-card-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap; /* Allowing cards to wrap to the next line */
	}

	.carousel {
		position: relative;
		width: 80%;
		margin: auto;
	}

	.carousel-img {
		width: 100%;
		height: 650px;
		object-fit: cover;
	}

	.carousel-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.5);
		color: white;
		border: none;
		padding: 10px;
		cursor: pointer;
	}

	.carousel-button.left {
		left: 10px;
	}

	.carousel-button.right {
		right: 10px;
	}

	#counter {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#days-counter {
		font-size: 50px; /* Half of header height */
		line-height: 50px;
	}

	#counter small {
		font-size: 18px;
	}

			
}