
/* This is a style document for screens smaller then 1100px */

@media screen and (max-width: 1235px) {
    #mobile{
		display: none;
        /*display: flex;*/
		/*justify-content: center;*/
		/*align-items: center;*/
		/*flex-wrap: wrap; /* Allowing cards to wrap to the next line */
    }
	body, html {
		height: 100%;
        width:  100%;
		margin: 0;
		padding: 0;
	}
	
	header {
		display: block;
		width: 100%;
		height: 50%;
	}

	nav ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: block;
		width: 100%;
	}
	
	nav ul li {
		display: block;
	}
	
	nav ul li a, header button, a {
		display: block;
		padding: 15px 0px;
		font-size: 18px;
		margin: auto;
		width: 100%;
	}
	h1{
		display: none;
	}
		/* Styles for About Card */
	.about-card {
		display: inline-block;
		width: 85%;
		height: 400px;
		padding: 20px;
		margin: 10px;
		align-self: center; /* Centering cards vertically */
	}

	/* Styles for Cards */
	.card, .plugin-card {
		display: inline-block;
		width: 85%; 
		height: 200px; /* Fixed height */
		padding: 20px;
		margin: 10px;
		align-self: center; /* Centering cards vertically */
	}

	/* Specific styles for Technical Info page */
	.plugin-card-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap; /* Allowing cards to wrap to the next line */
	}
	
	footer {
		padding: 10px;
		width: 100%;
		bottom: 0;
	}
	
    iframe{
        display: none;
    }
	
	.logo {
		height: 60px;
		border-radius: 100%;
		
	}
	
	#counter{
		display: none;
	}

	.carousel {
		position: relative;
		width: 100%;
		margin: auto;
	}

	.carousel-img {
		width: 100%;
		height: 750px;
		object-fit: cover;
	}

	.carousel-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		padding: 10px;
		cursor: pointer;
	}

	.carousel-button.left {
		left: 10px;
	}

	.carousel-button.right {
		right: 10px;
	}
}